
body{
    font-family: 'Grandstander', cursive;
    text-align: center;
    width:100%;
}

h1{
    font-size: 3rem;   
}

#top-section p{
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
}

#main-section{
    margin: 40px auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    width: 420px;
    min-height: 800px;
    background-color: black;
}

#list-section{
    margin: 60px auto 100px;
    border-style: solid;
    border-width: 5px;
    width: 340px;
    min-height: 600px;
    background-color: #FFFFFF;
}

.main-list{
    margin: 10px auto;
}

/* extra class to be added */

.line-through{
    text-decoration: line-through;
    color:red;
}

@media (max-device-width: 480px){
    h1{
        font-size: 5rem;
        padding-top: 100px;
    }

    p{
        width:100%;
        margin: 0;
        padding: 0 0 20px 0;
        font-size: 2rem;
    }

    input{
        font-size: 1.5rem;
        position: relative;
        right: 10px;
    }

    button{
        height: 30px;
        width: 30px;
        position: relative;
        right: 5px;
        bottom: 2.5px;
    }

    #main-section{
        width: 500px;
        min-height: 800px;
    }

    #list-section{
        width: 400px;
        min-height: 600px;
        background-color: #FFFFFF;
    }

}